@use './_variables.scss' as *;
@import './_mixins.scss';

header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.826);
}

header {
    width: 100%;
    height: 550px;
    background-color: white;
    display: flex;
    position: relative;
    background-image: url(../assets/img/Firefly-background.jpg);
    background-position: center;
    background-size: cover;

    .container {
        max-width: 95%;
        margin: 0 auto;

        #bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                width: 180px;
                z-index: 999;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            #find {
                margin-top: 140px;


                .search {
                    background-color: #fff;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.164);
                    border-radius: 20px;
                    padding: 8px 10px;
                    cursor: pointer;
                    position: relative;

                    ul {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        border: 1px solid #ccc;
                        width: 100%;
                        list-style-type: none;
                        padding: 0;
                        z-index: 10;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                        li {
                            padding: 10px;
                            cursor: pointer;
                            border-bottom: 1px solid #eee;

                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                background-color: #f5f5f5;
                            }
                        }
                    }

                }
            }

            .search-bar-fixed {
                position: fixed;
                left: 47.7%;
                transform: translateX(-47.7%);
                z-index: 1000;
                /* Assicurati che la barra sia sopra tutti gli altri elementi */
            }

            .search-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 10px;
                width: 100%;
            }

            .range-bar {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 24px;

                .testo-range {
                    font-style: italic;
                    font-size: 0.8rem;

                    span {
                        font-weight: 800;
                        color: $color-blue-hover
                    }
                }

                /* Stile per il pallino (thumb) */
                .form-range {
                    &::-webkit-slider-thumb {
                        background-color: $color-blue-hover;
                        cursor: pointer;
                        border: none;
                        transition: background-color 0.3s; // Transizione fluida al cambio colore

                        &:hover {
                            background-color: darken($color-blue-hover, 10%); // Rende il colore del thumb un po' più scuro
                        }
                    }

                    /* Stile per la barra */
                    &::-webkit-slider-runnable-track {
                        cursor: pointer;
                        background: lightgray;
                        transition: background-color 0.3s; // Transizione fluida al cambio colore

                        &:hover {
                            background: darken(lightgray, 10%); // Rende la barra un po' più scura
                        }
                    }
                }
            }

            .custom-range {
                width: 70%;

            }

            input {
                border: none;
                padding: 4px;
                border-radius: 20px;
                outline: none;
                width: 300px;

            }

            button {
                background-color: $color-blue-hover;
                color: #fff;
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                cursor: pointer;
                transition: background-color 0.3s;

            }

            button:hover {
                background-color: $color-dark-purple;
            }

            .menu {
                display: flex;
                align-items: center;
                width: 40%;


                li {
                    margin: 0 12px;
                    z-index: 999;

                    .button-52 {
                        padding: 8px 22px;
                        text-decoration: none;
                        background-color: #6474fc;
                        color: #fff;
                        border-radius: 18px;
                        transition: transform 0.4s, box-shadow 0.2s;
                    }

                    .button-52:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }


            }
        }
    }
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


@media screen and (max-width:2100px) {}

@media screen and (max-width: 1600px) {}

@media screen and (min-width: 1200px) {
    .logo-mobile {
        display: none
    }
}

@media screen and (max-width: 1200px) {
    .logo {
        display: none;
    }

    .logo-mobile {
        width: 60px;
        display: block;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 80px;
        }
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }
}


@media screen and (max-width: 950px) {

    header {
        height: auto;


        .container {
            #bar {
                flex-direction: column;
                gap: 15px;

                #find {
                    .search {
                        flex-direction: column;
                    }

                }

            }

            nav {
                .menu {
                    padding: 20px 0;
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {}