$color-black: #060607;
$color-white: #ffffff;
$color-gray: #98939f;
$color-blue: #263bfc;
$color-blue-hover: #6474fc;
$color-dark-purple: #4d5efa;

// New Palette
$color-white-pearl: #EEEEEE;
$color-yellow: #FFD369;
$color-dark-gray: #393E46;
$color-black: #222831;
$color-red:#FF385C;
$color-red-hover:darken(#FF385C,15%)